@use '@jwp/ott-ui-react/src/styles/variables';
@use '@jwp/ott-ui-react/src/styles/theme';
@use '@jwp/ott-ui-react/src/styles/mixins/responsive';
@use '@jwp/ott-ui-react/src/styles/mixins/typography';

.hero {
  display: flex;
  max-width: 100vw;
  min-height: 60vh;
  padding: calc(variables.$base-spacing * 3) calc(variables.$base-spacing * 3) calc(variables.$base-spacing * 2);
  font-family: var(--body-font-family), sans-serif;
  text-shadow: var(--body-text-shadow);
}

.info {
  position: relative;
  align-self: flex-end;
  width: 50%;
  max-width: 650px;
}

.title {
  @include typography.video-title-base;
  margin-bottom: calc(variables.$base-spacing / 2);
}

.description {
  font-family: var(--body-font-family);
  font-size: 18px;
  line-height: variables.$base-line-height;
  letter-spacing: 0.15px;
}

.poster {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 56.25vw;
  max-height: 700px;
  object-fit: cover;
  object-position: center 30%;
  transition: opacity ease-out 0.3s;

  -webkit-mask-image: radial-gradient(farthest-corner at 80% 30%, rgba(0, 0, 0, 0.8) 20%, rgb(0 0 0 / 21%) 45%, rgb(0 0 0 / 0%) 73%);
  mask-image: radial-gradient(farthest-corner at 80% 30%, rgba(0, 0, 0, 0.8) 20%, rgb(0 0 0 / 21%) 45%, rgb(0 0 0 / 0%) 73%);
}

.posterFade {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 120px;
  background: linear-gradient(0deg, transparent, var(--body-background-color, variables.$white));
}

@include responsive.tablet-only() {
  .hero {
    min-height: 50vh;
    padding: calc(variables.$base-spacing * 2);
  }

  .info {
    width: 70%;
  }

  .poster {
    height: 80vw;
  }
}

@include responsive.mobile-only() {
  .hero {
    min-height: 50vh;
    padding: variables.$base-spacing;
  }

  .info {
    align-self: auto;
    width: 100%;
    padding-top: 225px;
  }

  .poster {
    width: 100vw;
    height: 101.25vw;

    -webkit-mask-image: linear-gradient(190deg, black, rgb(0 0 0 / 0.8) 40%, transparent 90%);
    mask-image: linear-gradient(190deg, black, rgb(0 0 0 / 0.8) 40%, transparent 90%);
  }
}
